.hero {
  height: auto;
  padding-top: 224px;
  padding-bottom: 90px;
  background-image: url(/bg-hero.svg);
  background-repeat: no-repeat;
  background-size: 90%;
  background-position: right bottom;

  @media (max-width: 768px) {
    padding-top: 140px;
    padding-bottom: 60px;
    background-size: 150%;
    background-position: bottom;
  }

  .infoContent {
    img {
      width: 120px;
      height: 120px;

      @media (max-width: 768px) {
        width: 80px;
        height: 80px;
      }
    }

    h1 {
      font-size: 96px;
      font-weight: 400;
      margin-top: 55px;

      @media (max-width: 768px) {
        font-size: 40px;
        margin-top: 30px;
      }
    }

    h2 {
      margin-top: -20px;
      font-size: 84px;
      font-weight: 300;
      color: rgba(255, 255, 255, 0.49);

      @media (max-width: 768px) {
        font-size: 36px;
        margin-top: 10px;
      }
    }

    span {
      color: rgba(255, 255, 255, 0.49);
      font-size: 64px;
      font-weight: 300;

      @media (max-width: 768px) {
        font-size: 32px;
      }
    }
  }

  .quote {
    margin-top: 120px;
    display: flex;
    gap: 30px;
    align-items: flex-start;

    @media (max-width: 768px) {
      flex-direction: column;
      margin-top: 60px;
      gap: 20px;
    }

    span {
      width: 390px;
      height: 2px;
      background-color: rgba(96, 102, 206, 0.31);

      @media (max-width: 768px) {
        width: 100px;
      }
    }

    p {
      width: 100%;
      max-width: 810px;
      color: #b0b4f5;
      font-size: 17px;
      font-weight: 300;
      line-height: 28px;
      margin-top: -10px;

      @media (max-width: 768px) {
        margin-top: 0;
        font-size: 16px;
      }
    }
  }
}