.container {
  padding-bottom: 120px;

  @media (max-width: 768px) {
    padding-bottom: 60px;
  }

  h3 {
    color: #898ba8;
    font-size: 48px;
    font-weight: 300;
    margin-bottom: 54px;

    @media (max-width: 768px) {
      font-size: 36px;
      margin-bottom: 30px;
    }
  }

  .jobContent {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;

    @media (max-width: 1024px) {
      grid-template-columns: 1fr 1fr;
    }

    @media (max-width: 768px) {
      grid-template-columns: 1fr;
    }

    .gridItem {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #1d2157;
      height: 4rem;

      a {
        color: #898ba8;
        font-size: 18px;
        font-weight: 600;
        text-decoration: none;
        display: flex;

        img {
          width: 24px;
          height: 24px;
        }

        &:hover {
          color: aquamarine;
          transition: color .3s ease-in-out;
        }
      }
    }
  }
}
