.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 120px;

  @media (max-width: 768px) {
    flex-direction: column;
    padding-bottom: 60px;
    gap: 40px;
  }

  .titleSocials {
    width: 100%;
    max-width: 496px;
    border-right: 1px solid var(--border-socials);

    @media (max-width: 768px) {
      max-width: 100%;
      border-right: none;
      border-bottom: 1px solid var(--border-socials);
      padding-bottom: 24px;
      text-align: center;
    }

    h2 {
      font-size: 48px;
      font-weight: 400;
      color: var(--text-main);

      @media (max-width: 768px) {
        font-size: 36px;
      }
    }

    span {
      display: block;
      color: var(--text-hero-sub);
      font-size: 24px;
      font-weight: 300;
      margin-top: -10px;

      @media (max-width: 768px) {
        font-size: 20px;
      }
    }
  }

  ul {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 460px;
    padding: 0;
    margin: 0;

    li {
      list-style: none;

      a {

        img {
          transition: all 0.3s ease-in-out;
          filter: var(--icon-filter);

          @media (max-width: 768px) {
            height: 32px;
            width: auto;
          }

          &:hover {
            transform: scale(1.2);
          }
        }
      }
    }
  }
}
